@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared style */
.display-flex{
    display: flex;
}
.btn-primary{
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    color:rgba(255, 255, 255, 1);
    background: linear-gradient(to left bottom, rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
}
/* Header / Navbar  related styles*/
.container{
    background-color: rgba(26, 11, 46, 1);
    padding: 16px 200px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 1);
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2rem;
    font-weight: 800;
 color:rgba(255, 255, 255, 1);
}
.brand-color{
    background: linear-gradient(to left bottom , rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1)
    );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-icon{
    display: none ;
}
.menu{
    width: 218px;
    list-style-type: none;
    justify-content: space-between;
}
.menu-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 1rem;
}
/* -- Hero / Banner -- */
.hero{
    background-image: url(./assets/hero-bg.png);
    background-size:cover;
    height: 760px;
    background-position: center;
     background-repeat: no-repeat;
    
}
.hero-container{
     
    justify-items: center;
    
}
.hero-img{
    position: relative;    
    padding: 101px 0px 40px;
    width: 3600
}
.img1{
    position: absolute;
    padding-left: 120px;
    padding-top: 80px;
}
.btn2{  
    transition: transform 3s;
    position: absolute;
    margin-top: 40px;
    margin-left: 250px;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 8px 16px;
    color: rgba(26, 11, 46, 1);
    background-color: rgba(0, 255, 136, 1);
    border: none;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
.btn2:hover{
    transform: rotate(360deg) scale(1.5);
}
.hero-content{
      justify-items: center;
}
.hero-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 8px;
}
.hero-text{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
    text-align: center;
}
.btn{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    border: 1px solid greenyellow;
    background: transparent;
    border-radius: 10000px;
    color:rgba(255, 255, 255, 1);
    
}


@media screen and (max-width: 576px) {
    .container{
        padding: 16px 20px;        
    }
    .menu-icon{
        display: block;
        padding-left: 200px;
    }
    .menu-list{
        display: none;
    }
    .navbar .btn-primary{
        display: none;
    }
}