@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared style */
.display-flex{
    display: flex;
}
.btn{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    color:rgba(255, 255, 255, 1);
    background: linear-gradient(to left bottom, rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
}
/* Header / Navbar  related styles*/
.container{
    background-color: rgba(26, 11, 46, 1);
    padding: 16px 200px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 1);
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2rem;
    font-weight: 800;
 color:rgba(255, 255, 255, 1);
}
.brand-color{
    background: linear-gradient(to left bottom , rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1)
    );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-icon{
    display: none ;
}
.menu{
    width: 218px;
    list-style-type: none;
    justify-content: space-between;
}
.menu-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 1rem;
}

@media screen and (max-width: 576px) {
    .container{
        padding: 16px 20px;        
    }
    .menu-icon{
        display: block;
        padding-left: 200px;
    }
    .menu-list{
        display: none;
    }
    .navbar .btn{
        display: none;
    }
}