@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared style */
.display-flex{
    display: flex;
}
.btn-primary{
    justify-items: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    color:rgba(255, 255, 255, 1);
    background: linear-gradient(to left bottom, rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
    cursor: pointer;
}
/* Header / Navbar  related styles*/
.container{
    
    background-color: rgba(26, 11, 46, 1);
    padding: 16px 200px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 1);
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2rem;
    font-weight: 800;
 color:rgba(255, 255, 255, 1);
}
.brand-color{
    background: linear-gradient(to left bottom , rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1)
    );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-icon{
    display: none ;
}
.menu{
    width: 218px;
    list-style-type: none;
    justify-content: space-between;
}
.menu-link{
    opacity: 90%;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 1rem;
}
/* -- Hero / Banner -- */
.hero{
    background-image: url(./assets/hero-bg.png);
    background-size:cover;
    height: 760px;
    background-position: center;
     background-repeat: no-repeat;
    
}
.hero-container{
     
    justify-items: center;
    
}
.hero-img{
    position: relative;    
    padding: 101px 0px 40px;
    width: 3600
}
.img1{
    position: absolute;
    padding-left: 120px;
    padding-top: 80px;
}
.btn2{  
    transition: transform 3s;
    position: absolute;
    margin-top: 40px;
    margin-left: 250px;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 8px 16px;
    color: rgba(26, 11, 46, 1);
    background-color: rgba(0, 255, 136, 1);
    border: none;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    cursor: pointer;
}
.btn2:hover{
    transform: rotate(360deg) scale(1.5);
}
.hero-content{
      justify-items: center;
}
.hero-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 8px;
}
.hero-text{
    opacity: 80%;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
    text-align: center;
}
.btn{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    border: 1px solid greenyellow;
    background: transparent;
    border-radius: 10000px;
    color:rgba(255, 255, 255, 1);
    cursor: pointer;
}
 /* -- About Section -- */
 .about{
    background-color: rgba(26, 11, 46, 1);
    text-align: center;
    padding: 50px 200px 120px;
    color: rgba(255, 255, 255, 1);
 }
.about-title{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 16px;
}
.about-text{
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    opacity: 80%;
    margin-bottom: 80px;
}
hr{
    background-color: rgba(26, 11, 46, 1);
}
.about-card{
    margin-top: 80px;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}
.about-card-number{
    font-weight: 900;
    font-size: 3rem;
    color: rgba(0, 255, 136, 1);
    margin-bottom: 16px;
}
.about-card-title{
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    opacity: 80%;
}
/* -- Services Section -- */
.services{
    padding: 120px 200px;
    background-color: rgba(35, 14, 61, 1);
    color: rgba(255, 255, 255, 1);
}
.services-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700px;
    margin-bottom: 40px;
}
.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}
.box5{
    grid-area: box5;
}
.services-box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    grid-template-areas: 
    "box1 box2 box2"
    "box1 box3 box3"
    "box4 box4 box5"
    ;
}
.services-box{
    border-radius: 40px;
    text-align: left;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}
.services-box-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
}
.services-box-text{
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
}
/* -- Featured / Host  section-- */

.featured-host-container{
    background-color: rgba(26, 11, 46, 1);
    padding: 120px 200px;
    color: rgba(255, 255, 255, 1);
}
.featured-container{
    margin-bottom: 120px;
}
.featured-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}
.featured-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card{
    overflow: hidden;
    border-radius: 24px;
    background-color: rgba(37, 13, 68, 1);
}
iframe{

    width: 100%;
    height: 350px;
}
.featured-card-content{
    padding: 24px;
}
.featured-card-title{
font-size: 1.5rem;
font-weight: 700;
margin-bottom: 12px;
}
.featured-card-text{
font-size: 1rem;
font-weight: 400;
opacity: 60%;
margin-bottom: 12px;
}
.featured-card-time{
font-weight: 600;
font-size: 1rem;
color: rgba(0, 255, 136, 1);
}

.host-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.host-card{
background-color: rgba(53, 17, 101, 0.4);
padding: 40px;
border-radius: 40px;
justify-content: center;
align-items: center;
gap: 40px;
}

.host-name{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom:16px; 

}
.host-text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    opacity: 60%;
    margin-bottom: 16px;
}
.social-links{
    gap: 8px;
}
.social-item{
list-style-type: none;
}
.social-link{
    text-decoration: none;
}
.social-img{
    
    width: 40px;
    width: 40px;
    border: 1px solid rgba(83, 60, 114, 1);
    padding: 10px;
    border-radius: 50%;
}
/* footer section */
.footer{
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    padding: 120px 200px;
    text-align: center;
}
.footer-container{
    color: rgba(255, 255, 255, 1);
}
.footer-title{
    font-size: 3.75rem;
    margin-bottom: 32px;
}
.footer-links{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 margin-bottom: 32px;
 width: 644px;
 margin: 0px auto;
}
.footer-social{
 list-style-type: none;
}
.footer-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    opacity: 60%;
}
.footer-text{
    margin-top: 32px;
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
}
/* responsive section */
@media screen and (max-width: 576px) {
    .container{
        padding: 16px 20px;        
    }
    .menu-icon{
        display: block;
        padding-left: 200px;
    }
    .menu-list{
        display: none;
    }
    .navbar .btn-primary{
        display: none;
    }
    .about{
        padding: 20px 40px;
    }
    .about-title{
        font-size: 2rem;
    }
    .about-text{
        margin-bottom: 40px;
    }
    .about-card{
        margin-top: 40px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40PX;
    }
    .about-card-number{
        font-size: 2.5rem;

    }
    .about-card-title{
        font-size: 0.8125rem;
    }
    
    .services{
        padding: 40px 20px;
    }
    .services-title{
        font-size: 2rem;
    }
    .services-box-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        grid-template-areas:
        "box1"
        "box2"
        "box3"
        "box4"
        "box5";
    }
    .services-box{
    border-radius: 24px;
    padding: 24px;
    }
    .services-box-title{
    font-size: 1.375rem;
    }
    .featured-host-container{
        padding: 40px 20px;
    }
    .featured-container{
        margin-bottom: 60px;
    }
    .featured-title{
        font-size: 2rem;
    }
    .featured-card{
        grid-template-columns: repeat(1, 1fr);
    }
    .featured-card-title{
        font-size: 1.25rem;
    }
    .host-card{
        flex-direction: column;
        text-align: center;
    }
    .host-img{
        margin-bottom: -16px;
    }
    .host-name{
        font-size: 1.5rem;
    }
    .footer{
        padding: 40px 20px;
    }
    
    .footer-links{
        grid-template-columns: repeat(2, 1fr);
        gap: 21px;
    }
}
